---
  host: "localhost:8001"
  apis:
    - name: "mockbin"
      ensure: "present"
      attributes:
        upstream_url: "http://mockbin.com"
        hosts:
            - "mockbin.com"
      plugins:
        - name: "key-auth"
        - name: cors
          attributes:
            config:
              credentials: false
              preflight_continue: false
              max_age: 7000

  consumers:
    - username: "iphone-app"
      ensure: "present"
      credentials:
        - name: "key-auth"
          ensure: "present"
          attributes:
            key: "very-secret-key"

    - username: "ie"
      ensure: "removed"
